#crystal-ball {
    position: relative;
    padding: 75px;
}

#crystal-ball img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#percent {
    position: absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
}