.tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tagList li {
    border-radius: 6px;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.25rem;
    list-style: none;
    font-size: 10pt;
    font-weight: normal;
}

.tagList#commons li {
    --red: rgb(0, 168, 17);
    color: var(--red);
    border-color: var(--red);
}

.tagList#challenges li {
    --red: rgb(255, 68, 88);
    color: var(--red);
    border-color: var(--red);
}