
.column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@keyframes open-animation {
    from {
        overflow: hidden;
        max-height: 0;
    }
    to {
        overflow: hidden;
        max-height: 100%;
    }
}